<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Cryptography" version="10.0.11" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="35.1.37" targetFramework="net48" />
  <package id="Syncfusion.DocIO.WinForms" version="35.1.37" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="35.1.37" targetFramework="net48" />
  <package id="Syncfusion.Markdown" version="35.1.37" targetFramework="net48" />
  <package id="Syncfusion.OfficeChart.Base" version="35.1.37" targetFramework="net48" />
  <package id="Syncfusion.Telemetry" version="35.1.37" targetFramework="net48" />
  <package id="Syncfusion.XlsIO.WinForms" version="35.1.37" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="10.0.11" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="10.0.11" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net48" />
</packages>