@page "/DocIO"
@inject Microsoft.JSInterop.IJSRuntime JS
@inject HttpClient client
@using Syncfusion.DocIO
@using Syncfusion.DocIO.DLS
@using System.Collections.Generic
@using System.IO
@using System.Data

<h2>Syncfusion DocIO library (Essential DocIO)</h2>
<p>Syncfusion Blazor DocIO library (Essential DocIO) used to create, read, edit, and convert DocIO files in your applications without Microsoft Office dependencies.</p>
<button class="btn btn-primary" @onclick="@ReplaceHTML">Perform Mail merge</button>

@code {
    @functions {
       static Dictionary<WParagraph, List<KeyValuePair<int, string>>> paraToInsertHTML = new Dictionary<WParagraph, List<KeyValuePair<int, string>>>();
        async void ReplaceHTML()
        {
            using (Stream inputStream = await client.GetStreamAsync("Data/Template.docx"))
            {
                //Opens the template document.
                using (WordDocument document = new WordDocument(inputStream, FormatType.Automatic))
                {
                    //Creates the mail merge events handler to replace merge field with HTML.
                    document.MailMerge.MergeField += new MergeFieldEventHandler(MergeFieldEvent);
                    string htmlString = await client.GetStringAsync("Data/File.html");
                    //Gets data to perform the mail merge.
                    DataTable table = GetDataTable(htmlString);
                    //Performs the mail merge.
                    document.MailMerge.Execute(table);
                    //Append HTML to paragraph.
                    InsertHtml();
                    //Removes the mail merge events handler.
                    document.MailMerge.MergeField -= new MergeFieldEventHandler(MergeFieldEvent);
                    //Saves the Word document instance.
                    //Saves the Word document to MemoryStream.
                    using (MemoryStream stream = new MemoryStream())
                    {
                        document.Save(stream, FormatType.Docx);
                        stream.Position = 0;
                        //Download the Word document in the browser.
                        await JS.SaveAs("Sample.docx", stream.ToArray());
                    }
                }
            }
        }

        #region Helper methods
        /// <summary>
        /// Replaces merge field with HTML string by using MergeFieldEventHandler.
        /// </summary>
        /// <param name="sender"></param>
        /// <param name="args"></param>
        public static void MergeFieldEvent(object sender, MergeFieldEventArgs args)
        {
            if (args.TableName.Equals("HTML"))
            {
                if (args.FieldName.Equals("ProductList"))
                {
                    //Gets the current merge field owner paragraph.
                    WParagraph paragraph = args.CurrentMergeField.OwnerParagraph;
                    //Gets the current merge field index in the current paragraph.
                    int mergeFieldIndex = paragraph.ChildEntities.IndexOf(args.CurrentMergeField);
                    // Check if this paragraph already has an entry in the dictionary.
                    // If not, create a new list to store field index and value pairs.
                    if (!paraToInsertHTML.TryGetValue(paragraph, out var fields))
                    {
                        fields = new List<KeyValuePair<int, string>>();
                        paraToInsertHTML[paragraph] = fields;
                    }
                    // Add the current merge field's index and its value to the list
                    fields.Add(new KeyValuePair<int, string>(mergeFieldIndex, args.FieldValue.ToString()));
                    //Set field value as empty.
                    args.Text = string.Empty;
                }
            }
        }
        /// <summary>
        /// Gets the data to perform mail merge
        /// </summary>
        /// <returns></returns>
        private static DataTable GetDataTable(string htmlString)
        {
            DataTable dataTable = new DataTable("HTML");
            dataTable.Columns.Add("CustomerName");
            dataTable.Columns.Add("Address");
            dataTable.Columns.Add("Phone");
            dataTable.Columns.Add("ProductList");
            DataRow datarow = dataTable.NewRow();
            dataTable.Rows.Add(datarow);
            datarow["CustomerName"] = "Nancy Davolio";
            datarow["Address"] = "59 rue de I'Abbaye, Reims 51100, France";
            datarow["Phone"] = "1-888-936-8638";
            datarow["ProductList"] = htmlString;
            return dataTable;
        }
        /// <summary>
        /// Append HTML to paragraph.
        /// </summary>
        private static void InsertHtml()
        {
            //Iterates through each item in the dictionary.
            foreach (KeyValuePair<WParagraph, List<KeyValuePair<int, string>>> dictionaryItems in paraToInsertHTML)
            {
                // Get the paragraph where HTML needs to be inserted.
                WParagraph paragraph = dictionaryItems.Key;
                // Get the list of (index, HTML string) pairs for this paragraph.
                List<KeyValuePair<int, string>> values = dictionaryItems.Value;
                // Iterate through the list in reverse order
                for (int i = values.Count - 1; i >= 0; i--)
                {
                    // Get the index of the merge field within the paragraph.
                    int index = values[i].Key;
                    // Get the HTML content to insert.
                    string fieldValue = values[i].Value;
                    // Get paragraph position.
                    int paragraphIndex = paragraph.OwnerTextBody.ChildEntities.IndexOf(paragraph);
                    //Inserts HTML string at the same position of mergefield in Word document.
                    paragraph.OwnerTextBody.InsertXHTML(fieldValue, paragraphIndex, index);
                }

            }
            paraToInsertHTML.Clear();
        }
        #endregion
    }
}
