<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="21.2.3" targetFramework="net472" />
  <package id="Syncfusion.DocIO.AspNet" version="21.2.3" targetFramework="net472" />
  <package id="Syncfusion.DocToPDFConverter.AspNet" version="21.2.3" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="21.2.3" targetFramework="net472" />
  <package id="Syncfusion.OfficeChart.Base" version="21.2.3" targetFramework="net472" />
  <package id="Syncfusion.Pdf.AspNet" version="21.2.3" targetFramework="net472" />
</packages>