@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 style="margin-bottom: 20px"> Text Conversions </h2>
    <div>
        <button style="width: 200px; margin-bottom: 20px; height: 40px;display:block;font-size:18px;"
                onclick="location.href='@Url.Action("WordToText", "Home")'">
            Word to Text
        </button>
        <button style="width: 200px; margin-bottom: 20px; height: 40px;display:block;font-size:18px;"
                onclick="location.href='@Url.Action("TextToWord", "Home")'">
            Text to Word
        </button>
        <button style="width: 200px; margin-bottom: 20px; height: 40px;display:block;font-size:18px;"
                onclick="location.href='@Url.Action("ExtractPlainText", "Home")'">
            Extract Plain Text
        </button>
    </div>
</div>
