@page "/docio"
@inject Microsoft.JSInterop.IJSRuntime JS
@inject HttpClient client
@using Syncfusion.DocIO
@using Syncfusion.Pdf
@using Syncfusion.DocIORenderer
@using Syncfusion.DocIO.DLS
@using System.IO

<h2>Syncfusion DocIO library (Essential DocIO)</h2>
<p>Syncfusion Blazor DocIO library (Essential DocIO) used to create, read, edit, and convert DocIO files in your applications without Microsoft Office dependencies.</p>
<button class="btn btn-primary" @onclick="@WordToPDF">Convert Word to PDF</button>

@functions {
    async void WordToPDF()
    {
        using (Stream inputStream = await client.GetStreamAsync("sample-data/Input.docx"))
        {
            //Open an existing Word document.
            using (WordDocument document = new WordDocument(inputStream, FormatType.Automatic))
            {
                //Initialize the DocIORenderer for Word to PDF conversion.
                using (DocIORenderer render = new DocIORenderer())
                {
                    //Convert Word document into PDF document.
                    using (PdfDocument pdfDocument = render.ConvertToPDF(document))
                    {
                        //Save the PDF document to MemoryStream.
                        using (MemoryStream outputStream = new MemoryStream())
                        {
                            pdfDocument.Save(outputStream);
                            outputStream.Position = 0;
                            //Download PDF file in the browser.
                            await JS.SaveAs("Output.pdf", outputStream.ToArray());
                        }
                    }
                }
            }
        }
    }
}