@{
    Html.BeginForm("CreateWordDocument", "Home", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Create Word Document" style="width:200px;height:27px" />
        </div>
    }
    Html.EndForm();
}