@{
    Html.BeginForm("ConvertWordtoPDF", "Home", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Convert WordtoPDF" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}