<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://app214398-h8ekaggncdhfctfd.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/77f174f1-17bb-44ad-a52f-01c4c3ad6be3/resourceGroups/Ticket-214398/providers/Microsoft.Web/sites/app214398</ResourceId>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://app214398-h8ekaggncdhfctfd.scm.centralindia-01.azurewebsites.net/</PublishUrl>
    <UseBlobContainerDeploy>true</UseBlobContainerDeploy>
  </PropertyGroup>
</Project>