@{Html.BeginForm("CreateDocument", "Home", FormMethod.Get);
    {
        <div>
            <br/>
            <input type="submit" value="Create Document" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}
