@page "/docio"
@inject Microsoft.JSInterop.IJSRuntime JS
@inject HttpClient client
@using Syncfusion.DocIO
@using Syncfusion.DocIO.DLS
@using System.IO

<h2>Syncfusion DocIO library (Essential DocIO)</h2>
<p>Syncfusion Blazor DocIO library (Essential DocIO) used to create, read, edit, and convert DocIO files in your applications without Microsoft Office dependencies.</p>
<button class="btn btn-primary" @onclick="@ConvertWordToMD">Convert to Markdown</button>

@code {
    @functions {

        async void ConvertWordToMD()
        {
            using (Stream inputStream = await client.GetStreamAsync("sample-data/Input.docx"))
            {
                //Open an existing Word document.
                using (WordDocument document = new WordDocument(inputStream, FormatType.Automatic))
                {
                    //Save as a Markdown file into the MemoryStream.
                    using (MemoryStream stream = new MemoryStream())
                    {
                        document.Save(stream, FormatType.Markdown);
                        stream.Position = 0;
                        //Download the Markdown file in the browser.
                        await JS.SaveAs("WordToMd.md", stream.ToArray());
                    }
                }
            }
        }
    }
}
