@page "/docio"
@using System.IO;
@using Create_and_update_TOC;
@inject Create_and_update_TOC.Data.WordService service
@inject Microsoft.JSInterop.IJSRuntime JS

<h2>Syncfusion Word (DocIO) library</h2>
<p>Syncfusion Word (DocIO) library is used to create, read, edit, and convert Word files in your applications without Microsoft Office dependencies.</p>
<button class="btn btn-primary" @onclick="@CreateTOC">Create TOC</button>
<button class="btn btn-primary" @onclick="@EditTOC">Edit TOC</button>
<button class="btn btn-primary" @onclick="@CustomStyleTOC">Custom Style TOC</button>
<button class="btn btn-primary" @onclick="@CustomTOCEntries">Custom TOC entries</button>

@code {
    MemoryStream documentStream;

    protected async void CreateTOC()
    {
        documentStream = service.CreateTOC();
        await JS.SaveAs("TOC.docx", documentStream.ToArray());
    }
    protected async void EditTOC()
    {
        documentStream = service.EditTOC();
        await JS.SaveAs("TOC-edited.docx", documentStream.ToArray());
    }
    protected async void CustomStyleTOC()
    {
        documentStream = service.CustomStyleTOC();
        await JS.SaveAs("TOC-customstyle.docx", documentStream.ToArray());
    }
    protected async void CustomTOCEntries()
    {
        documentStream = service.CustomTOCEntries();
        await JS.SaveAs("TOC-customentries.docx", documentStream.ToArray());
    }
}
