<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="19.4.0.43" targetFramework="net46" />
  <package id="Syncfusion.DocIO.Wpf" version="19.4.0.43" targetFramework="net46" />
  <package id="Syncfusion.Licensing" version="19.4.0.43" targetFramework="net46" />
  <package id="Syncfusion.OfficeChart.Base" version="19.4.0.43" targetFramework="net46" />
</packages>