<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="24.1.47" targetFramework="net48" />
  <package id="Syncfusion.DocIO.WinForms" version="24.1.47" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="24.1.47" targetFramework="net48" />
  <package id="Syncfusion.OfficeChart.Base" version="24.1.47" targetFramework="net48" />
</packages>