<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="17.2.0.41" targetFramework="net46" />
  <package id="Syncfusion.DocIO.Wpf" version="17.2.0.41" targetFramework="net46" />
  <package id="Syncfusion.Licensing" version="17.2.0.41" targetFramework="net46" />
  <package id="Syncfusion.OfficeChart.Base" version="17.2.0.41" targetFramework="net46" />
  <package id="Syncfusion.Shared.WPF" version="17.2.0.41" targetFramework="net46" />
</packages>