@{
    Html.BeginForm("OpenAndSaveDocument", "Home", FormMethod.Get);
    {
        <div>
            <br>
            <input type="submit" value="Open and Save Document" style="width:230px;height:27px" />
        </div>
    }
    Html.EndForm();
}
