@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("OfficeToPDF", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="Common">
        <div class="tablediv">
            <div class="rowdiv">
                <p>This sample illustrates how to convert Word document, Excel and PowerPoint file to PDF using Document SDK.</p>

                <p><strong>Font Manager:</strong> A unified font-caching system that optimizes memory usage across all document conversion libraries (Word-to-PDF, Excel-to-PDF, PowerPoint-to-PDF, and PDF processing).
                    This centralized font management significantly optimizes memory usage in multi-threaded conversions by preventing redundant font loading.
                </p>
            </div>

            <div class="rowdiv" style="border-width: 0.5px; border-style: solid; border-color: lightgray; padding: 1px 5px 7px 5px; margin-top: 8px;">
                Click the button to view the resultant PDF document being converted using Document SDK.
                Please note that a PDF viewer is required to view the resultant PDF.

                <div class="rowdiv" style="margin-top: 10px">
                    <div class="celldiv">
                        Select Document :
                        @Html.TextBox("file", null, new { type = "file", accept = ".doc,.docx,.rtf,.dot,.dotm,.dotx,.docm,.xml,.xlsx,.xls,.xltx,.xlsm,.csv,.xlsb,.xltm,.pptx" })
                        <br />
                    </div>

                    <div class="rowdiv" style="margin-top: 8px">
                        <input class="buttonStyle" type="submit" value="Convert to PDF" name="button" style="width:150px;height:27px" />
                        <br />
                        <div class="text-danger">
                            @ViewBag.Message
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
